{% extends 'base.html.twig' %}

{% block title %}Indice Hoja de Trabajo{% endblock %}

{% block body %}
    <br/>
    <h1>Indice Hojas de Trabajo</h1>
    <br/>

    <table class="table">
        <thead>
            <tr>
                <th>Número Hoja de Trabajo</th>
                <th>Matricula</th>
                <th>Descripción</th>
                <th><img id="tools" src="/assets/tools3.jpg"/></th>
            </tr>
        </thead>
        <tbody>
        {% for worksheet in worksheets %}
            <tr>
                <td>{{ worksheet.id }}</td>
                {% if worksheet.car == null%}
                    <td>Este Vehículo ha sido eliminado</td>
                {% else %}
                    <td>
                        <a href="{{ path('app_car_show', {'id': worksheet.car.id}) }}">
                            {{ worksheet.car.regPlate }}
                        </a>
                    </td>
                {% endif %}
                <td>{{ worksheet.description }}</td>
                <td>
                    <a href="{{ path('app_worksheet_show', {'id': worksheet.id}) }}">Detalle</a>
                    <br/>
                    <a href="{{ path('app_worksheet_edit', {'id': worksheet.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No se han encontrado hojas de trabajo</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
