{% extends 'base.html.twig' %}

{% block title %}Detalle Hoja de Trabajo{% endblock %}

{% block body %}
    <br/>
    <h1>Detalle Hoja de Trabajo</h1>
    <br/>
    <table class="table">
        <tbody>
            <tr>
                <th>Número Hoja de Trabajo</th>
                <td>{{ worksheet.id }}</td>
            </tr>
            <tr></tr><tr></tr>
            <tr>
                <th>Placa de Matrícula</th>
                <td>
                    {% if worksheet.car == null%}
                    <p>Este Vehículo Ha sido Eliminado<p>
                {% else %}
                    <a href="{{ path('app_car_show', {'id': worksheet.car.id}) }}">
                        {{ worksheet.car.regPlate }}
                    </a>
                {% endif %}
                </td>
            </tr>
            <tr></tr><tr></tr>
            <tr>
                <th>Descripción</th>
                <td>{{ worksheet.description }}</td>
            </tr>
        </tbody>
    </table>

    <br/><br/>
    {{ include('Worksheet/_delete_form.html.twig') }}
    </br>

    <a href="{{ path('app_worksheet_index') }}">
        <button type="button">Volver a la Lista</button>
    </a>&nbsp;

    <a href="{{ path('app_worksheet_edit', {'id': worksheet.id}) }}">
        <button type="button">Editar</button>
    </a>

    <br/><br/>


{% endblock %}
