{% extends 'base.html.twig' %}

{% block title %}Indice de Clientes{% endblock %}

{% block body %}
    <br/>
    <h1>Indice Clientes</h1>
    <br/>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th></th><th></th>
                <th>Apellidos</th>
                <th></th><th></th>
                <th>Identificación</th>
                <th></th><th></th>
                <th>Número Teléfono</th>
                <th></th><th></th>
                <th>EMail</th>
                <th><img id="tools" src="/assets/tools3.jpg"/></th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td></td><td></td>
                <td>{{ customer.surnames }}</td>
                <td></td><td></td>
                <td>{{ customer.idCard }}</td>
                <td></td><td></td>
                <td>{{ customer.telNumber }}</td>
                <td></td><td></td>
                <td>{{ customer.eMail }}</td>
                <td>
                    <a href="{{ path('app_customer_show', {'id': customer.id}) }}">Detalle</a>
                    <br/>
                    <a href="{{ path('app_customer_edit', {'id': customer.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No se han encontrado Clientes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br/><br/>

    <a href="{{ path('app_customer_new') }}">
        <button type="button">Crear Nuevo Cliente</button>
    </a>
{% endblock %}
