{% extends 'base.html.twig' %}

{% block title %}Detalle de Clientes{% endblock %}

{% block body %}
    <br/>
    <h1>Detalle de Cliente</h1>
    <br/>
    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ customer.name }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ customer.surnames }}</td>
            </tr>
            <tr>
                <th>Identificación</th>
                <td>{{ customer.idCard }}</td>
            </tr>
            <tr>
                <th>Número de Teléfono</th>
                <td>{{ customer.telNumber }}</td>
            </tr>
            <tr>
                <th>EMail</th>
                <td>{{ customer.eMail }}</td>
            </tr>
        </tbody>
    </table>

    <br/><br/>
    <div style="overflow-x:auto;">
        <table>
            <thead>
            <tr>
                <th >Placa de Matricula</th>
                <th style="margin-left: 25px">Número Bastidor</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Tipo Motor</th>
                <th><img id="tools" src="/assets/tools3.jpg"/></th>
            </tr>
            </thead>
            <tbody>
            {% for car in cars %}
                <tr>
                    <td>{{ car.regPlate }}</td>
                    <td>{{ car.chasisNum }}</td>
                    <td>{{ car.brand }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.engineType }}</td>
                    <td>
                        <a href="{{ path('app_car_show', {'id': car.id}) }}">Detalle</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Este cliente no tiene vehículos asignados</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br/><br/>

    {{ include('Customer/_delete_form.html.twig') }}
    <br/>
    <a href="{{ path('app_customer_index') }}">
        <button type="button">Volver a la Lista</button>
    </a>&nbsp;

    <a href="{{ path('app_customer_edit', {'id': customer.id}) }}">
        <button type="button">Editar</button>
    </a>&nbsp;

    <a href="{{ path('app_car_new', {'id': customer.id })}}">
        <button type="button">Crear Nuevo Coche</button>
    </a>


{% endblock %}
