{% extends 'base.html.twig' %}

{% block title %}Indice Vehículos{% endblock %}

{% block body %}
    <br/>
    <h1>Indice de Vehículos</h1>
    <br/>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre Cliente</th>
                <th></th><th></th>
                <th>Matricula</th>
                <th></th><th></th>
                <th>Número Chasis</th>
                <th></th><th></th>
                <th>Marca</th>
                <th></th><th></th>
                <th>Modelo</th>
                <th></th><th></th>
                <th>Tipo Motor</th>
                <th><img id="tools" src="/assets/tools3.jpg"/></th>
           </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>
                    <a href="{{ path('app_customer_show', {'id': car.customer.id}) }}">
                        {{ car.customer.name}}
                    </a>
                </td>
                <td></td><td></td>
                <td>{{ car.regPlate }}</td>
                <td></td><td></td>
                <td>{{ car.chasisNum }}</td>
                <td></td><td></td>
                <td>{{ car.brand }}</td>
                <td></td><td></td>
                <td>{{ car.model }}</td>
                <td></td><td></td>
                <td>{{ car.engineType }}</td>
                <td><img id="tools" src="{{ asset('uploads/pictures/' ~ car.pictureCar) }}"/></td>
                <td>
                    <a href="{{ path('app_car_show', {'id': car.id}) }}">Detalle</a>
                    <br/>
                    <a href="{{ path('app_car_edit', {'id': car.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No se han encontrado vehículos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
