{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <h1>Car index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th></th><th></th>
                <th>RegPlate</th>
                <th></th><th></th>
                <th>ChasisNum</th>
                <th></th><th></th>
                <th>Brand</th>
                <th></th><th></th>
                <th>Model</th>
                <th></th><th></th>
                <th>EngineType</th>
                <th></th><th></th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>
                    <a href="{{ path('app_customer_show', {'id': car.customer.id}) }}">
                        {{ car.customer.name}}
                    </a>
                </td>
                <td></td><td></td>
                <td>{{ car.regPlate }}</td>
                <td></td><td></td>
                <td>{{ car.chasisNum }}</td>
                <td></td><td></td>
                <td>{{ car.brand }}</td>
                <td></td><td></td>
                <td>{{ car.model }}</td>
                <td></td><td></td>
                <td>{{ car.engineType }}</td>
                <td></td><td></td>
                <td>
                    <a href="{{ path('app_car_show', {'id': car.id}) }}">show</a>
                    <a href="{{ path('app_car_edit', {'id': car.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br/>

    <a href="{{ path('app_customer_index') }}">Show All Customers</a>&nbsp;&nbsp;&nbsp;
    <a href="{{ path('app_worksheet_index') }}">Show All Worksheets</a> &nbsp;
    <a href="{{ path('homepage') }}">Main</a>
{% endblock %}
