{% extends 'base.html.twig' %}

{% block title %}Detalle de Vehículo{% endblock %}

{% block body %}
    <br/>
    <h1>Detalle de Vehículo</h1>
    <br/>
    <table class="table">
        <tbody>
            <tr>
                <th>Nombre Cliente</th>
                <td>{{ car.customer.name}}</td>
            </tr>
            <tr></tr><tr></tr><tr></tr>
            <tr>
                <th>Móvil Cliente</th>
                <td>{{ car.customer.telNumber }}</td>
            </tr>
            <tr></tr>
            <tr>
                <th>Matrícula</th>
                <td>{{ car.regPlate }}</td>
            </tr>
            <tr></tr>
            <tr>
                <th>Número Chasis</th>
                <td>{{ car.chasisNum }}</td>
            </tr>
            <tr></tr>
            <tr>
                <th>Marca</th>
                <td>{{ car.brand }}</td>
            </tr>
            <tr></tr>
            <tr>
                <th>Modelo</th>
                <td>{{ car.model }}</td>
            </tr>
            <tr></tr>
            <tr>
                <th>Tipo Motor</th>
                <td>{{ car.engineType }}</td>
            </tr>
        </tbody>
    </table>

    <br/><br/>
    <div style="overflow-x:auto;">
        <table>
            <thead>
            <tr>
                <th>Número Hoja Trabajo</th>
                <th></th><th></th><th></th>
                <th>Descripción</th>
                <th></th><th></th><th></th>
                <th>Esta Dentro del Taller</th>
                <th></th><th></th><th></th>
                <th><img id="tools" src="/assets/tools3.jpg"/></th>
            </tr>
            </thead>
            <tbody>
            {% for worksheet in worksheets %}
                <tr>
                    <td>{{ worksheet.id }}</td>
                    <td></td><td></td><td></td>
                    <td>{{ worksheet.description }}</td>
                    <td></td><td></td><td></td>
                    {%if worksheet.isActive == 1%}
                        <td>El Vehículo Esta en el Taller</td>
                    {% else%}
                        <td>El Vehículo no Esta en el Taller</td>
                    {% endif %}
                    <td></td><td></td><td></td>
                    <td>
                        <a href="{{ path('app_worksheet_show', {'id': worksheet.id}) }}">Detalle</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">No se han encotrado registros</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br/>
    {% if is_granted('ROLE_ASSESSOR')%}
        {{ include('Car/_delete_form.html.twig') }}
        <br/>
        <a href="{{ path('app_car_edit', {'id': car.id}) }}">
            <button type="button">Editar</button>
        </a>&nbsp;
        <a href="{{ path('app_worksheet_new', {'id': car.id })}}">
            <button type="button">Crear Nueva Hoja Trabajo</button>
        </a>
    {% endif %}
    <a href="{{ path('app_customer_index') }}">
        <button type="button">Volver a la Lista</button>
    </a>&nbsp;

{% endblock %}
